{{$ meta }}
spanwidth: span4
{{$ endmeta }}

<style>
 .grid {
 	padding: 20px 0 40px 0;
 	height: 300px;
 	font-size: larger;
 	line-height: 1.2;
 	border-top: 1px solid #CCC;
 	margin-left: 40px;
 }

 .grid h2, .grid h2 i {
 	font-size: x-large;
 }

 .grid h2 a {
 	text-decoration: none;
 	color: #333;
 }

 .gridtitle {
 	font-size: xx-large;
 	margin-left: 40px;
 }
</style>


<h1 class="gridtitle">Backlift Documentation</h1>
<div class="row"><div class="grid">
	<div class="{$ meta.spanwidth }">
		<h2><a href="/guides/basics"><i class="icon-road"></i> Quick Start</a></h2>
		<p>This is a quick start guide. In just 5 minutes you'll understand the basics of how to create a new Backlift app, how to update the code, and how to add dynamic content using the Backlift template tags.</p>
		<a href="/guides/basics">Get started!</a>
	</div>
	<div class="{$ meta.spanwidth }">
		<h2><a href="/guides"><i class="icon-book"></i> Backlift Guides</a></h2>
		<p>These guides explain the major parts of Backlift, what they do and how they work together. This is a good place to go if you want to know how backlift works and why.</p>
		<a href="/guides">Check out the guides</a>
	</div>
</div></div>
<div class="row"><div class="grid">
	<div class="{$ meta.spanwidth }">
		<h2><a href="/reference"><i class="icon-map-marker"></i> API Reference</a></h2>
		<p>The API Reference is a good place to quickly answer questions that may come up while using Backlift. This section contains listings of the various Backlift template tags and REST API endpoints. It covers syntax, usage examples and errors.</p>
		<a href="/reference">Scan the API Reference</a>
	</div>
	<div class="{$ meta.spanwidth }">
		<h2><a href="/examples"><i class="icon-bookmark"></i> Code Examples</a></h2>
		<p>This section provides recipies for common Backlift use cases. Need to add a nav bar to your page? You'll find a quick code snippet that does roughly what you need. We have code examples for over 20 common scenarios.</p>
		<a href="/examples">Find a Code Example</a>
	</div>
</div></div>
