		<div class="row">
			<div class="span3">

				<div data-spy="affix" data-offset-top="120">
					<h3>Guides:</h3>
					{{$ nav /guides/*.html 'nav nav-tabs nav-stacked' | sort $page.order $page.title }}

					<h3>Reference:</h3>
					{{$ nav /reference/*.html 'nav nav-tabs nav-stacked' | sort $page.order $page.title }}
				</div>

			</div>

			<div class="span9">

	{{$ if not $content }}
		{{$ include /partials/mainnav.html }}
	{{$ endif }}

				{{$ if $content }}
				<h1>{$ meta.title }</h1>
				{$ content }
				{{$ endif }}

			</div>
		</div>